In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
connection_string = "postgres:postgres@localhost:5432/Michelin_Yelp_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
michelin_df.to_sql(name='michelin', con=engine, if_exists='append', index=True)
lat_long_df.to_sql(name='lat_long', con=engine, if_exists='append', index=True)
business_df.to_sql(name='business', con=engine, if_exists='append', index=True)
region_df.to_sql(name='region', con=engine, if_exists='append', index=True)
city_df.to_sql(name='city', con=engine, if_exists='append', index=True)
cuisine_df.to_sql(name='cuisine', con=engine, if_exists='append', index=True)

In [3]:
engine.table_names()

['lat_long', 'business', 'michelin', 'city', 'region', 'cuisine']

In [15]:
michelin_query = "SELECT * FROM michelin"
lat_long_query = "SELECT * FROM lat_long"

yelp_mich_query = """SELECT business.business_id, 
                     business.business_name, 
                     business.rating, 
                     michelin.stars 
    FROM business
    INNER JOIN lat_long
    ON business.lat_long_id = lat_long.lat_long_id
    INNER JOIN michelin
    ON business.lat_long_id = michelin.long_lat_id"""

In [16]:
pd.read_sql(yelp_mich_query, engine)

Empty DataFrame
Columns: [business_id, business_name, rating, stars]
Index: []